body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, red, blue);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    font-family: 'Pathway Extreme', sans-serif;
}
h1 {
    font-family: 'Pathway Extreme', sans-serif;
    animation: colorFade 15s infinite;
    }
    /* keyframes are what we are using to dictate what the animation does  */
    @keyframes colorFade {
        /* using 0% 50% 100% it changes from black to red to black - can inrease/decrease time spent on colour or animation by using lower/higher percentage. can use from - to instead of % but CSS ANIMATIONS will help ( Can combine from/to/75% */
        0% {
            color: black;
        }
        10% {
            color: red;
        }
        20% {
            color: blue;
        }
        40% {
            color: orange;
        }
        50% {
            color: red;
        }
        60% {
            color: blue;
        }
        90% {
            color: orange;
        }
        100% {
            color: black;
        }
    } 
    

#playerNames {
    margin: 10px;
}
#board {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 300px;
    height: 300px;
    transition: all 1s ease-in-out;
}

.square {
    border: 1px solid black;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Caveat', cursive;
    font-size: 2rem;
    
}
#playerName {
    flex-direction: column;
    gap: 20px;
}
ul {
    list-style: none;
    animation: colorFade1 15s infinite;
}
/* keyframes are what we are using to dictate what the animation does  */
@keyframes colorFade1 {
    /* using 0% 50% 100% it changes from black to red to black - can inrease/decrease time spent on colour or animation by using lower/higher percentage. can use from - to instead of % but CSS ANIMATIONS will help ( Can combine from/to/75% */
    0% {
        color: black;
    }
    10% {
        color: red;
    }
    20% {
        color: blue;
    }
    40% {
        color: orange;
    }
    50% {
        color: red;
    }
    60% {
        color: blue;
    }
    90% {
        color: orange;
    }
    100% {
        color: black;
    }
} 

span {
    font-size: 5rem;
    text-decoration: underline;
}
#startButton {
    margin: 10px;
}
.square.x {
    color: green;
}
.square.o {
    color: red;
}
.red_background {
    background-color: rgb(230, 47, 214);
}
.green_background {
    background-color: rgb(26, 181, 26);
}
#result {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    width: 300px;
    height: 50px;
    background-image: linear-gradient(to top left, blue, red);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}